In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from pandas.plotting import autocorrelation_plot
import datetime
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
from textblob import TextBlob
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from sklearn.model_selection import train_test_split
from nltk import tokenize
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score

In [2]:
filename2 = 'india-news-headlines.csv'
news_df  = pd.read_csv(filename2,parse_dates=[0])

In [3]:
news_df.head()

,publish_date,headline_category,headline_text
0,2001-01-01,sports.wwe,win over cena satisfying but defeating underta...
1,2001-01-02,unknown,Status quo will not be disturbed at Ayodhya; s...
2,2001-01-02,unknown,Fissures in Hurriyat over Pak visit
3,2001-01-02,unknown,America's unwanted heading for India?
4,2001-01-02,unknown,For bigwigs; it is destination Goa

In [4]:
news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3297172 entries, 0 to 3297171
Data columns (total 3 columns):
 #   Column             Dtype
---  ------             -----
 0   publish_date       datetime64[ns]
 1   headline_category  object
 2   headline_text      object
dtypes: datetime64[ns](1), object(2)
memory usage: 75.5+ MB

In [5]:
news_df.isnull().sum()

publish_date         0
headline_category    0
headline_text        0
dtype: int64

In [4]:
print("min date is ", news_df.publish_date.min())
print("max date is ", news_df.publish_date.max())

min date is  2001-01-01 00:00:00
max date is  2020-06-30 00:00:00

In [5]:
filename1 ='^BSESN.csv'

stock_df = pd.read_csv (filename1,parse_dates=[0])

In [6]:

stock_df.isnull().sum()
stock_df.dropna(inplace=True)

In [7]:
stock_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-03,38137.871094,38310.929688,37957.558594,38106.871094,38106.871094,59200.0
1,2019-10-04,38401.488281,38403.539063,37633.359375,37673.308594,37673.308594,52900.0
2,2019-10-07,37853.800781,37919.468750,37480.531250,37531.980469,37531.980469,40400.0
3,2019-10-09,37628.050781,38209.839844,37415.828125,38177.949219,38177.949219,36400.0
4,2019-10-10,38130.230469,38130.230469,37802.929688,37880.398438,37880.398438,27300.0

In [8]:
min_stock_date = stock_df.Date.min()
max_stock_date = stock_df.Date.max()
print("min date is ", stock_df.Date.min())
print("max date is ", stock_df.Date.max())

min date is  2019-10-03 00:00:00
max date is  2020-10-01 00:00:00

In [9]:
news_stock_df = news_df[(news_df['publish_date'] >= min_stock_date) & (news_df['publish_date'] <= max_stock_date)]

In [10]:
 news_df_combined = news_stock_df.groupby('publish_date')['headline_text'].apply(' '.join).reset_index()

In [11]:
news_df_combined['Date'] = news_df_combined['publish_date']
news_df_combined.drop(columns=['publish_date'],inplace=True)
news_df_combined.head()

                                       headline_text       Date
0  meet greet bond and seize the day networking s... 2019-10-03
1  I am in love with a relative Why no child welf... 2019-10-04
2  Channapatna artisans go tech-savvy to beat dro... 2019-10-05
3  Getting enough prebiotics? What is Wardrobing?... 2019-10-06
4  Wanna smell fresh all day? Apply perfume on th... 2019-10-07

In [12]:
news_stock_df = news_df_combined.merge(stock_df,how='inner',on='Date')

In [13]:
news_stock_df.head()

,headline_text,Date,Open,High,Low,Close,Adj Close,Volume
0,meet greet bond and seize the day networking s...,2019-10-03,38137.871094,38310.929688,37957.558594,38106.871094,38106.871094,59200.0
1,I am in love with a relative Why no child welf...,2019-10-04,38401.488281,38403.539063,37633.359375,37673.308594,37673.308594,52900.0
2,Wanna smell fresh all day? Apply perfume on th...,2019-10-07,37853.800781,37919.468750,37480.531250,37531.980469,37531.980469,40400.0
3,Assam: Hydel project pipeline bursts; 4 washed...,2019-10-09,37628.050781,38209.839844,37415.828125,38177.949219,38177.949219,36400.0
4,Ahmedabad: Dog set loose on cops; PASA- booked...,2019-10-10,38130.230469,38130.230469,37802.929688,37880.398438,37880.398438,27300.0

In [14]:
news_stock_df['headline_text'][0]

"meet greet bond and seize the day networking sites apps show you how Navratri Day 5: Colour today; Mata Skandamata mantra; puja; ghatasthapana and significance This 2-ingredient post workout drink is simple and effective The spotlight shines bright; say readers Metro extension on home stretch tops wishlist of Secunderabad residents Roshni Chopra replaces Monalisa in a game show Malayalis warm up to dandiya raas This bride wore a gorgeous silk lehenga in red colour for her wedding in London Sayantani Ghosh: I want to spend a whole day at Janpath shopping for jewellery Trend alert: Kareena Kapoor just wore the hottest jewellery trend Bengaluru plogs on Gandhi Jayanti in an effort to make the city plastic free Women power on stage at this do in Banaras Sonyaa Ayodhyay finds her soulmate; to tie the knot soon Micro Review: 'Those Days in Delhi' by Yashodhara Lal Bijal Joshi: I don't want to be typecast as a Gujarati character Women power on stage at this do in Banaras 'Tum Hi Aana' is the soul of 'Marjaavaan' Bengaluru city police commissioner's office has a doll display Ramayana retold through a nine-scene rangoli in city school Get a glimpse of the totally lit Mysuru Ramayana retold through a nine-scene rangoli in city school Take this trip tracing Gandhi's Karnataka connect 'I never really thought I will end up romancing Vijay sir Whose Hero is it; anyway? This project is a spy thriller based on facts & fiction I prefer working on one film at a time' Yogi Babu to don 11 avatars in Pugazhmani's horror comedy Miss Diva Universe 2019 Vartika Singh's enjoyable ride in the Lucknow Metro Miss Diva Universe 2019 Vartika Singh's enjoyable ride in the Lucknow Metro How about a celeb menu this Puja? Tara Sutaria doles out festive inspiration as she celebrates Navratri in Ahmedabad Guests had a ball at Abhinay-Ashmitha's circus-themed sangeet Raai Laxmi to star in a murder mystery inspired by Sheena Bora murder case? Raai Laxmi to star in a murder mystery inspired by Sheena Bora murder case? Guests had a ball at Abhinay-Ashmitha's circus-themed sangeet A decade of 'Pinktober' in Hyderabad! A decade of 'Pinktober' in Hyderabad! shahid kapoor mira rajput to arjun kapoor malaika arora meet the fit couples of bollywood who workout together Mysuru Dasara in 1888: Ploughing contests and Rs 5 prizes Waste Body is a track many youngsters can relate to: Arjun Lewis Waste Body is a track many youngsters can relate to: Arjun Lewis Bengaluru comes together to remember the Mahatma Bengaluru comes together to remember the Mahatma On Panchami; I'm coming home Maa: Chirodini Ami Je Tomar actress Sharly Modak Waste dumping polluting Ranipur Rau river in Haridwar Dehradun gets its first Swachhta Kendra 60-year-old woman dies in Rishikesh; dengue suspected Uttarakhand releases 24 prisoners on Gandhi Jayanti Agra district jail release 18 prisoners on Gandhi Jayanti AMU steers clear of controversy on Gandhi's 150th birth anniversary Five get life terms for 2015 murder of gram panchayat candidate Mathura police seizes 16;000 cough syrup bottles of Rs 20 lakh Agra: Smart City works delayed due to unreleased funds Wanted cattle smuggler; three others held in police encounter in Mathura Manikonda residents waiting for drinking water since years No BJP candidates for 5 zila panchayat seats; district unit in a spot of bother Uttarakhand government should provide us work; say MSMEs owners Rebuild Jannat-ul-Baqi: Muslims to Saudi govt Research quality hit due to lack of faculty UP's TikTok villain eludes cops; drone; RAF deployed Hyderabad: Drunk woman picks up axe; severely wounds aged dog Illegal sand mining in Rampur: NGT slaps Rs 9.16 crore fine on leaseholder After Azam Khan appears before SIT with wife and son; cops claim he is being uncooperative Bareilly: SRMS trust gives scholarships to over 400 students; investing Rs 3 crore Created party after much thought; says Shivpal on any merger with SP Don't worship Gandhi; follow him: Nitish Kumar Bareilly: 18-year-old rapes minor; sent to jail 10-year-old boy killed; his sister injured as tractor hits bicycle Bihar floods: Pregnant woman dies in Kaimur village Begusarai shelter home inmate dies Tax sting: Shops selling liquor at Rs 100 over MRP Health screening at madrassas reveals dismal conditions When Mahatma Gandhi toured Andhra Pradesh to raise cyclone relief fund Patna: People protest pumping water in their colonies Floods: No relief in western Patna Rajasthan: ASI held for taking bribe Beautified flyover greets motorists at Kottara Chowki UP civic body chief's murder: Protesters seek killers' arrest Mangaluru: #KissTheBonda challenge to give up plastic straws PG courses offered by Mangalore University to be audited BJP Karnataka chief Nalin Kumar praises Mahatma Gandhi; launches Sankalp Yatra Marijuana found in train at Karwar Hyderabad: Nine premature babies undergo complex surgery Allahabad University professor kills self at home; leaves behind suicide note Huzurnagar bypolls: TJS to support Congress candidate Aspirants' fate hangs in the balance as HC stays results 29 cattle rescued at Nelyadi; 1 held Seven police sub-inspectors land in soup for watching Sye Raa movie during duty hours Cleanliness survey: Vijayawada railway station slips to 7th place Gandhiji gave equal importance to all religions: Somanna Congress leaders rally around N Padmavathi Reddy Enclosure of rhinoceros brought from Singapore opened for public in Mysuru zoo Fast track courts for Pocso cases Exhibition of rare Gandhi stamps attracts all in Hubballi Isro staffer murder: Friend under lens in Hyderabad IMS scam: Purchase orders of Rs 46cr found Over 120 heirs to share Hyderabad Nizam's fund worth Rs 306 crore British planned to usurp Nizam's wealth when he took ill in 1944 73 criminals externed from Kolhapur Lakshmi Vilas Bank sees more exits; director nominated two days ago quits Jayant Patil's roadshow sends ripples through BJP-Sena alliance After Prime Minister Narendra Modi receives flak for flood relief; BJP flies to his defence Clear sky brings shoppers to markets on last holiday before Durga Puja in Kolkata CBSE Swimming Championship: On day two; MP win its first gold Tactile books by IIT-Delhi for blind students Bengaluru: Ex-MLA Ramesh Jarkiholi continues to occupy government bungalow Gland Pharma evinces interest for Pfizer factories MP: Habibganj; Bhopal stations rank low on Swachh scale CM Arvind Kejriwal to speak on Delhi's bad-air fight in Denmark Noida: Hoarders stock up as onion prices soar Huge sums were sent abroad in 1948 Bengaluru: Trio stole cars; sold them using papers of scrapped vehicles Delhi: Malcha Mahal may soon be restored to its former glory Rain floods roads; spells trouble for BTM Layout; Koramangala residents Occupation certificates to highrises without STPs: GNIDA officials face inquiry Nizam-era pipelines sinking ground beneath feet? Bengaluru: Metro station false ceiling collapses; passengers have a close shave Karnataka ODF on paper; but ground reality is different Delhi: No chairs for these 4;000 schoolkids 6 stations in Trichy railway division bag ISO certificate Sri Lankan refugee arrested for abusing boy smc junior engineer who approved dome plan arrested Anand Vihar; Delhi's best; is only ranked 26th in India Telangana CM K Chandrasekhar Rao set to meet PM Modi on Friday Delhi: Open your heart; Daan Utsav is here Delhi govt gears up to fight onion shortage Flowers for Mahatma Gandhi; bird droppings for K Kamaraj Delhi high court orders revaluation of judicial services exam Rule change hits building projects across Chennai Just before transfer; Renu Raj cancelled 4 fake title deeds Parking solution: Is going vertical the key? Residents of Pune society beat up man over feeding dogs Delhi: Cricket betting racket busted; two arrested Bandipur petitioner in night traffic ban case against NH-766 closure Maharashtra: Voter enrolment deadline tweet confuses citizens Savitribai Phule Pune University seeks election duty exemption for staffers Maharashtra assembly elections: Election officials will not act against false affidavits Delhi: From idols to pandal; this Pujo is recycling; breathing life into junk Chandigarh station's cleanliness train arrives at platform number 130 Traffic rule 'violated'; this time by Maharashtra government by not implementing amended Motor Vehicle Act Chandigarh: 8 years on; Punjab and Haryana high court acquits uncle of double murder Nashik police arrest fourth Muthoot dacoity-murder case suspect from Haryana Traffic penalty collection set to become cashless in Thiruvananthapuram Shun plastic; make it a mass movement: Amit Shah Intruder molests 10-year-old girl in Pune army quarters Enrollment declines in elementary schools in Chandigarh If you consume power; you have to pay for it: Nilesh Cabral Nashik onion farmers threaten to boycott auctions at agricultural produce market committees Desperate hoteliers slash prices as Goa gears up for worst tourist season in years Two persons drown in Indrayani near Talegaon Simplicity marks his final resting place;visitors say Bapu even more relevant now Tamil Nadu: Freshwater turtles rescued from well Maharashtra Directorate of Health Services stops use of Ranitidine in govt hospitals Youth in net for grandmother's murder in Kalyaninagar flat In Latur; two sons of former chief minister in poll fray T J Vinod richest among three key candidates in Ernakulam assembly Charter major may nix UK-Goa route Kerala: Priest accused of sex abuse seeks anticipatory bail Nagpur: Plastic ban awareness; free garbas to make navratri more meaningful AAI flies poor children to Porbandar and back Amid trade wars; Gujarat draws the Dragon Few in Tamil Nadu know of new tenancy act; only 2;500 register After two months on the road; Real Kashmir prepare to return home Gambling; sale of booze at premises meant for Colva panchayat ghar Goa Board seeks failure data of Class IX; XI from schools 6;000 students form Gandhi portrait in record setting bid South Goa police step up tenant verification Speedy start of Bainguinim GTP; says Michael Lobo Rickshaw driver stalks college girl; hits her brother in Ahmedabad 'To be a philatelist; decide on subject of interest; don't randomly collect stamps' Terror threat: Red alert in Delhi; raids at 9 locations 6 wards to be model for others to go cleaner; greener & binless 20 Fergusson College hostel students down with dengue; fear grips campus Modi-Xi meet: Kamal Haasan urges PMO not to encourage Tamil Nadu's move to erect banners Don't miss this adorable childhood picture of Tiger Shroff and Rinzing Denzongpa Pune: 4-year-old girl comes under police van; dies MTC to get 50 new AC buses; may ply on OMR; GST Rd routes Pune: Supreme Court grants bail to two accused in Bitcoin Ponzi scheme case Delhi: Speeding car rams 2 others; woman killed Gujarat: Water equal to four times Narmada dam capacity flowed into the sea Coimbatore: Major fire at jewellery complex; none hurt Woman who bought sari online cheated in Ahmedabad Ahmedabad: Man loses $31;000 to social media 'scrap sellers' Pune man fakes kidnap; police scour jungles to trace him Tradition to be served at Times Navratri flat owner to leave behind rs 60 lakh home dcor Gangster told to stay away from Pune for one month Tamil Nadu govt should fill up backlog vacancies reserved for disabled Nagpur: BJP faces unprecedented discontent over tickets Nagpur: Man used stolen papers to get recruited in Army Tirupur: Couple cheat 60 people of Rs 4 crore Nagpur: Cop who cracked Kirnapure murder case gets BJP ticket Delhi: Modern-day Ravana to be recycled for green cause Jaipur: Meet Aaftab; the Muslim director of Ramleela Erode: 50-year-old trampled by elephant Nagpur: Bridge 3.5 times longer than Ram Jhula over Gosi waters Microsoft unveils mobile device that runs on Google's Android Breath tests of aviation personnel begin in Jaipur Police net mastermind of 60 ATM fraud cases in Jaipur NMC collected Rs 46.60 lakh fine after plastic ban: RTI Rajasthan: Railway staff ensure high cleanliness track record Amid wettest monsoon in 25 years; 1 in 5 districts had deficit rains Bye bye banned plastic: Green change with cloth and jute bags Nagpur: Ajit Bakery owners duped of Rs 41.50 lakh Rajasthan: Sweet supari ban is bitter blow for cottage industry Rajasthan: Schoolgirl falls from cycle; dies Rajasthan: Congress beats BJP in blood donation race by 8;000 units Ask CM Ashok Gehlot to enforce Act for beggars: Rajya Sabha MP Meena plea to Sonia When two parties came on the same pitch in Jaipur Rajasthan mishaps claimed 50;000 lives in five years Rajasthan: Blame speeding; drunk driving for max deaths; bikers biggest victims Rajasthan: Forest staff transfers threaten tiger survival in Mukundra Gandhi's press to now print on khadi Teachers; college faculty members spur khadi sales by Rs 2 crore Mallikarjuna Rao is new Punjab National Bank chief Rajasthan bans variants of pan masala PM Modi declares rural India 'open defecation free' NBCC gives buyers 4-yr time-frame for delivery of 17;000 Wish Town flats Companies opting for lower tax can't set off built-up MAT credit Noida: Two killed as speeding car crashes into e-rickshaw Forced sale of Rana Kapoor's stake triggered Yes Bank stock crash For clean cities; Noida and Ghaziabad come out for plog run Six stations in Rajasthan among top 10 in railway cleanliness survey Bigg Boss 13 Day 3; written update: Rashami and Arti break down seeing inhuman treatment to Sidharth SBI not open to takeovers; says chairman Rajnish Kumar Gurugram: Cop on his way home from work killed in hit-and-run Udaan gets $585 million; valued at $2.7 billion Segregated at source; but mixed in the end: How Gurugram fails to sort its garbage Ban on single-use plastic in phases 1.3 lakh register for Times Scholars in 20 days Patna: BJP MP Ram Kripal Yadav falls into river after boat capsizes; rescued by locals Gurugram: A few are all set for a life without plastic Foster son kills 87-year-old man over land in Jalaun Kolkata: 2 elderly brothers found dead with identical cuts Noida: 'Never travelled on Yamuna Expressway'; but fined for speeding Power to be restored to Panaji market: Pramod Sawant With rain cloud over Puja; Kolkatans go pandal hopping while sun shines Greater Noida: Slain singer had alleged threat to life CM Mamata Banerjee gets off car; rescues injured woman on bridge Try Gandhian work-based learning; education department tells schools Ghaziabad: Businessman in gang that targeted cabbies; 4 held Power dues of Rs 30 crore for Opa plant faulty: Deepak Pauskar Goa: Teacher training institute to get Rs 2 crore aid for upgradation Researchers unearth rare parisitic herb at Honda's lateritic plateau Vendors fume; refuse sopo fees; CCP gets gensets Justin Bieber to drop his new single in this week! Bigg Boss 13: Netizens slam Shefali Bagga for her personal attack on Arti Singh and Rashami Desai Kolkata: Pujas focus on community bonding in New Town India's youngest T20I debutante trained as a boy as no Rohtak academy would admit girls Day after link road dug up; protest for shifting of Kherki toll plaza Plog run; cleaning drive held in Aravalis Ranveer Singh snapped outside Sanjay Leela Bhansali's office; another epic saga in the making? Over 11;000 tortoises; turtles entered wildlife trade every year; reveals study Rural India now open-defecation free; will rid it of single use plastic by 2022: PM Allow children to take small independent decisions With Gandhi as guide; these Indians are learning to give half their wealth No 33% promise yet: In 1st list of 64; INLD includes 12 women in Haryana assembly polls 3 yrs on; Shiromani Akali Dal; Indian National Lok Dal back together to fight Haryana polls Haryana: Ashok Tanwar takes rivalry with Bhupinder Singh Hooda; Kumari Selja to Sonia's house Shiromani Akali Dal-BJP poll panel to meet on Oct 5 in Jalandhar Throwback Thursday: These childhood photos of Kartik Aaryan are too cute to be missed Agitating students of medical college seek mercy killing In relief to doctors; panel junks 'frivolous' complaint Ticket shock for Rao Narbir Singh after CM Manohar Lal Khattar's unity show Kolkata: Convicts dead; kin want 'Yamraaj' to send them back Gurugram MLA Umesh Aggarwal left out of BJP list after 'show of strength' Modi government fulfilling Gandhi's vision of Swachh Bharat: Rajnath Singh Priyanka Gandhi Vadra attacks UP over Chinmayanand case UP: 89 child-lifting rumour cases & only one booked under NSA Gorakhpur child deaths: Two years after derogatory remark; Paresh Rawal apologises to Dr Kafeel Khan Jokes; couplets; leg pulling and Yogi's presence keep MLAs alert Priyanka Chopra is back in Mumbai; gets snapped at airport with 'The Sky Is Pink' co-star Rohan Saraf UP: 150 little Gandhis march for peace & power of love Spinning the golden thread that ties a nation Lucknow gave up Baqrid cow slaughter in Gandhi's honour a century ago Isro to hold space-docking experiment next year; a step towards setting up space station 90% of BDC voters missing in three Kashmir districts Congress MLA from Sonia's turf breaks opposition ranks J&K courts defy fidayeen threats; attendance surges MHA forwards amicus' note for Odisha NRC Here's why Tom Holland is taking a break from Instagram! Ajit Doval briefs Saudi crown prince on J&K UP: Not meddling in personal matters but can't let minor marry Silver items; mobiles stolen from Piyush Goyal's Mumbai home Justin Bieber jokes about loveless marriage; watch the video here Joaquin Phoenix 'embarrassed' by his diva behaviour Even Mumbai; US cities get flooded: Nitish Kumar DD official suspended for not telecasting PM's Chennai speech live Haryana tops list of states with most dry districts: IMD Radicalisation of Hindus also dangerous Mahatma Gandhi didn't see RSS as polar opposite: Mohan Bhagwat On Gandhi's anniversary; Nathuram Godse also trends Water-sharing; transit to top Hasina's Delhi agenda 'Gandhi's vision of Indian nationalism was one that worked for humanity' Amit Shah: Shun single-use plastic Sonia Gandhi's dig at BJP: Easy to take Gandhi's name but difficult to follow in his footsteps Startup funding jumps 25% amid 'bubble' fear PMC Bank jitter may trigger second round of crisis Nike reduces no. of stores in India to 150 Andheri cleanest suburban station in India; Virar No. 2 Mumbai: Canadian breaks election squad's camera; arrested BJP second list too ignores ministers; Raj Purohit; Prakash Mehta set to be dumped Mumbai: Domestic help held for theft at Piyush Goyal's home New AC mini buses hit the roads in Dadar Manifesto: Make-or-break moment for Mumbai 'Switch to khadi; shun plastic as tribute to Bapu': Yogi Adityanath DANGER WAITING TO HAPPEN INDIAN fuel prices going up for no reason! Haphazard parking 150 dance on Mahatma Gandhi's 150 years open invitation to death trap Parking available on footpath. Garbage and open manhole Peepal tree at risk Mumbai: Retired IAF officer with cancer gets to meet grandkids The Electric Transformer converted into Garbage. total wastage of water at Dadoji kondaev stadium Dilapidated sky walk stair case Direction board started peeling off and rusted A Colony which need GHMC attention mosquitoes breeding site man hope cover Mulund residents with funds stuck in PMC Bank resolve 'not to vote' garbage ineyro water pumping station what type of construction is this? wires and cables blocking the freedom to walk Over head line post Walk on the edge of death garbage dumped everyday #Auto Rickshaw Mandi Mumbai: 2 brothers held for immolation by 44-year-old man pragatinagar lake: a dreadful dumpyard garbage nuisance Sewage water overflowing - Unable to use subway an uprooted tree patch not repaired over a month Burnt car lying opp police HQ Spot the traffic light DUMPING OF GARBAGE AND SEWAGE Senseless people Mumbai: Hours before pujo; artists put the finishing touches Lucknow minor sodomised; uncle held Reel to real: TV crime serial actor held for 

In [15]:
# create the function to get subjectivity
def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

def getPolarity(text):
    return TextBlob(text).sentiment.polarity

def getSIA(text):
    sia = SentimentIntensityAnalyzer()
    sentiment = sia.polarity_scores(text)
    return sentiment

In [16]:
news_stock_df['subjectivity'] = news_stock_df['headline_text'].apply(getSubjectivity)
news_stock_df['polarity'] = news_stock_df['headline_text'].apply(getPolarity)

In [17]:
news_stock_df

,headline_text,Date,Open,High,Low,Close,Adj Close,Volume,subjectivity,polarity
0,meet greet bond and seize the day networking s...,2019-10-03,38137.871094,38310.929688,37957.558594,38106.871094,38106.871094,59200.0,0.429271,0.035780
1,I am in love with a relative Why no child welf...,2019-10-04,38401.488281,38403.539063,37633.359375,37673.308594,37673.308594,52900.0,0.418134,0.090559
2,Wanna smell fresh all day? Apply perfume on th...,2019-10-07,37853.800781,37919.468750,37480.531250,37531.980469,37531.980469,40400.0,0.427959,0.080569
3,Assam: Hydel project pipeline bursts; 4 washed...,2019-10-09,37628.050781,38209.839844,37415.828125,38177.949219,38177.949219,36400.0,0.429184,0.080979
4,Ahmedabad: Dog set loose on cops; PASA- booked...,2019-10-10,38130.230469,38130.230469,37802.929688,37880.398438,37880.398438,27300.0,0.404573,0.027153
...,...,...,...,...,...,...,...,...,...,...
175,I never thought I had a voice until today: Vid...,2020-06-24,35679.738281,35706.550781,34794.929688,34868.980469,34868.980469,26600.0,0.387802,0.088329
176,Truck firms look for new export markets to sel...,2020-06-25,34525.390625,35081.609375,34499.781250,34842.101563,34842.101563,24600.0,0.403998,0.027038
177,Containment zone residents slam high prices ch...,2020-06-26,35144.781250,35254.878906,34910.339844,35171.269531,35171.269531,24800.0,0.381841,0.068333
178,6 hot and stylish bikini looks of Katrina Kaif...,2020-06-29,34926.949219,35032.359375,34662.058594,34961.519531,34961.519531,18300.0,0.396828,0.061956
179,Detective Byomkesh Bakshy! Edge of Tomorrow Fi...,2020-06-30,35168.300781,35233.910156,34812.800781,34915.800781,34915.800781,18500.0,0.384191,0.071554

In [34]:
compound = []
neg = []
pos = []
neutral = []
SIA = 0

for i in range(0, len(news_stock_df['headline_text'])):
    
    SIA = getSIA(news_stock_df['headline_text'][i])
    compound.append(SIA['compound'])
    neg.append(SIA['neg'])
    pos.append(SIA['pos'])
    neutral.append(SIA['neu'])

In [35]:
news_stock_df['neg'] = neg

In [36]:
news_stock_df['pos'] = pos

In [38]:
news_stock_df['neutral'] = neutral

In [40]:
news_stock_df['compound'] = compound

In [41]:
news_stock_df.head()

,headline_text,Date,Open,High,Low,Close,Adj Close,Volume,subjectivity,polarity,neg,pos,neutral,compound
0,meet greet bond and seize the day networking s...,2019-10-03,38137.871094,38310.929688,37957.558594,38106.871094,38106.871094,59200.0,0.429271,0.035780,0.134,0.095,0.771,-0.9998
1,I am in love with a relative Why no child welf...,2019-10-04,38401.488281,38403.539063,37633.359375,37673.308594,37673.308594,52900.0,0.418134,0.090559,0.151,0.094,0.755,-0.9999
2,Wanna smell fresh all day? Apply perfume on th...,2019-10-07,37853.800781,37919.468750,37480.531250,37531.980469,37531.980469,40400.0,0.427959,0.080569,0.126,0.084,0.790,-0.9998
3,Assam: Hydel project pipeline bursts; 4 washed...,2019-10-09,37628.050781,38209.839844,37415.828125,38177.949219,38177.949219,36400.0,0.429184,0.080979,0.156,0.096,0.747,-0.9999
4,Ahmedabad: Dog set loose on cops; PASA- booked...,2019-10-10,38130.230469,38130.230469,37802.929688,37880.398438,37880.398438,27300.0,0.404573,0.027153,0.148,0.096,0.755,-0.9999

In [42]:
keep_columns = ['Open','High','Low','Close','Volume','subjectivity','polarity','neg','pos','neutral','compound']

In [43]:
df = news_stock_df[keep_columns]

In [68]:
df.isnull().sum()

Open            0
High            0
Low             0
Close           0
Volume          0
subjectivity    0
polarity        0
neg             0
pos             0
neutral         0
compound        0
dtype: int64

In [69]:
df.shape

(180, 11)

In [71]:
x = df.drop(columns=['Close'])
y = df['Close']
print(len(x),len(y),x.shape, y.shape)

180 180 (180, 10) (180,)

In [72]:
xtrain,xtest,ytrain,ytest= train_test_split(x,y,test_size=0.3, random_state=42)

In [73]:
print(len(xtrain), len(ytrain), len(xtest), len(ytest))

126 126 54 54

In [74]:
#implement linear regression
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(xtrain,ytrain)

LinearRegression()

In [75]:
ypred = model.predict(xtest)

In [76]:
len(ypred)

54

In [77]:
len(ytest)

54

In [78]:
#comparisions between predicted and actual values

test_result = pd.DataFrame({'Actual': ytest, 'Predicted': ypred})

In [79]:
test_result

           Actual     Predicted
19   40301.960938  40358.312490
42   40445.148438  40565.802967
153  30672.589844  30672.116776
78   41198.660156  41334.994964
145  31371.119141  31011.503948
15   39831.839844  40063.398066
24   40345.078125  40271.937763
68   41872.730469  41741.875152
113  29915.960938  29997.704056
118  29815.589844  29931.389197
93   41323.000000  41294.894681
159  33825.531250  33651.357754
69   41932.558594  41951.896724
142  31443.380859  31257.553831
45   40412.570313  40199.725810
16   40051.871094  39983.530923
51   41673.921875  41616.392796
125  31159.619141  30905.118212
96   40281.199219  40294.069846
56   41575.140625  41569.441379
97   39888.960938  39916.386622
120  29468.490234  29069.891688
143  31642.699219  31502.149689
30   40651.640625  40664.437471
9    39052.058594  39042.205662
172  34731.730469  34627.680702
60   41464.609375  41370.113026
18   40165.031250  40136.644387
148  31097.730469  30700.136055
173  34911.320313  35034.143054
109  31390.070313  31494.379786
55   41163.761719  41136.949254
140  31453.509766  31522.902515
126  30690.019531  30488.717063
66   41859.691406  41848.708043
29   40469.699219  40378.368909
117  29946.769531  29610.458304
65   41599.718750  41655.916995
67   41952.628906  41793.714499
31   40575.171875  40527.324761
12   39058.828125  39037.221611
41   40779.589844  40846.880257
124  29893.960938  31142.503671
100  38144.019531  38240.218715
161  33980.699219  33913.433266
132  31379.550781  31139.364363
90   41257.738281  41463.014908
38   40802.171875  40718.239668
169  33605.218750  33248.570387
115  26674.029297  26109.280188
171  34208.050781  34317.116948
156  32200.589844  32041.086378
2    37531.980469  37559.276445
176  34842.101563  34946.115117

In [84]:

train_score  = model.score(xtrain,ytrain)
test_score = model.score(xtest, ytest)


print("accuracy score on train data set : ", round(train_score*100 , 2))
print("accuracy score on test data set : ", round(test_score* 100, 2))

accuracy score on train data set :  99.87
accuracy score on test data set :  99.73